{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "camelcase": ["error", {"properties": "always"}],
    "semi": ["error", "always"],
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "varsIgnorePattern": "^LOG$"
    }],
    "eqeqeq": "error",
    "wrap-iife": ["error", "inside"],
    "no-use-before-define": ["error", {"functions": false}],
    "indent": ["error", 2, {
      "SwitchCase": 0,
      "VariableDeclarator": {
        "var": 2,
        "let": 2,
        "const": 3
      }
    }],
    "no-redeclare": "error",
    "no-whitespace-before-property": "error",
    "block-spacing": "error",
    "array-bracket-spacing": ["error", "never"],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "keyword-spacing": "error"
  }
}
