#link_main, .link_hint, #command_bar, #command_bar_mode, #command_input, #command_search_results, .completion-item, .completion-item .full, .completion-item .left, .completion-item .right {
  font-size: 9pt !important;
}

#link_main {
  font-family: "Sans";
  position: absolute;
  pointer-events: none;
  width: 100%; left: 0;
  height: 100%; top: 0;
  z-index: 2147483647;
}
.link_hint {
  background-color: rgba(255,255,0,1);
  color: #000 !important;
  padding: 2px !important;
  font-family: "Sans" !important;
  border-radius: 3px !important;
  display: inline-block !important;
  vertical-align: middle !important;
  border: 1px solid rgba(0,0,0,0.45);
  text-align: center !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4) !important;
  position: absolute !important;
}
#command_bar {
  position: fixed !important;
  z-index: 2147483646 !important;
  background-color: #1b1d1e !important;
  color: #bbb !important;
  font-family: monospace !important;
  display: none;
  box-sizing: content-box !important;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
  padding-top: 3px !important;
  left: 0 !important;
  width: 100% !important;
  height: 20px !important;
}

#command_bar_mode {
  font-family: monospace !important;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box !important;
  padding-left: 2px !important;
  height: 100% !important;
  width: 10px !important;
  padding-top: 2px !important;
  color: #888 !important;
}
#command_input {
  background-color: #1b1d1e !important;
  color: #bbb !important;
  height: 100% !important;
  display: inline-block !important;
  vertical-align: middle !important;
  right: 0 !important;
  bottom: 0 !important;
  font-family: monospace !important;
  width: calc(100% - 10px) !important;
  position: absolute !important;
}

#command_search_results {
  position: fixed;
  width: 100% !important;
  font-family: monospace !important;
  overflow: hidden;
  z-index: 2147483647 !important;
  left: 0;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
  background-color: #383838;
}

.completion-item, .completion-item .full, .completion-item .left, .completion-item .right {
  text-overflow: ellipsis;
  font-family: monospace !important;
  font-size: 9pt !important;
  padding: 1px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

.completion-item {
  width: 100%; left: 0;
  color: #fff;
}

.completion-item .full {
}

.completion-item .left {
  color: #fff;
  width: 47%;
}

.completion-item .right {
  font-style: italic;
  color: #888;
  width: 47%;
}
