#link_main {
  font-family: "Sans";
  line-height: 1 !important;
  font-size: 10pt;
  position: absolute;
  box-shadow: none !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
  box-sizing: content-box !important;
  border: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
  background-repeat: none !important;
  background-position: none !important;
  border: none !important;
  border-radius: 0 !important;
  vertical-align: none !important;
  font-size: 10pt !important;
  padding: 0 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  text-align: start !important;
  pointer-events: none;
  width: 100%; left: 0;
  height: 100%; top: 0;
  z-index: 2147483647;
}
.link_hint {
  background-color: #ffff00;
  color: #000;
  padding: 2px;
  outline: 0 !important;
  border: 0 !important;
  min-height: 0 !important;
  box-sizing: content-box !important;
  background-repeat: none !important;
  line-height: 1 !important;
  background-position: none !important;
  border: none !important;
  border-radius: 0 !important;
  vertical-align: none !important;
  margin: 0 !important;
  font-size: 10pt !important;
  letter-spacing: normal !important;
  -webkit-appearance: none !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  text-align: start !important;
  border-radius: 2px;
  border: 1px solid #333;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  z-index: 9999;
  position: absolute;
}
#command_bar {
  position: fixed !important;
  min-height: 0 !important;
  background-repeat: none !important;
  background-position: none !important;
  border: none !important;
  border-radius: 0 !important;
  vertical-align: none !important;
  z-index: 9999999999 !important;
  background-color: #1b1d1e !important;
  color: #bbb !important;
  font-family: monospace !important;
  display: none;
  box-shadow: none !important;
  outline: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  box-sizing: content-box !important;
  font-size: 10pt !important;
  padding: 0 !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  text-align: start !important;
  box-shadow: none !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
  border: 0 !important;
  bottom: 0 !important;
  border: none !important;
  padding-top: 3px !important;
  left: 0 !important;
  width: 100% !important;
  height: 20px !important;
}
#command_bar_mode {
  font-family: monospace !important;
  font-size: 10pt !important;
  box-shadow: none !important;
  outline: 0 !important;
  min-height: 0 !important;
  background-repeat: none !important;
  background-position: none !important;
  border: none !important;
  border-radius: 0 !important;
  vertical-align: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
  font-family: monospace !important;
  outline: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  font-size: 10pt !important;
  padding: 0 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  line-height: 1 !important;
  box-sizing: content-box !important;
  text-shadow: none !important;
  text-align: start !important;
  border: 0 !important;
  padding-left: 2px !important;
  height: 100% !important;
  width: 10px !important;
  top: 0 !important;
}
#command_input {
  min-height: 0 !important;
  background-repeat: none !important;
  background-position: none !important;
  border: none !important;
  border-radius: 0 !important;
  box-sizing: content-box !important;
  vertical-align: none !important;
  font-family: monospace !important;
  width: calc(100% - 10px) !important;
  position: absolute !important;
  box-shadow: none !important;
  outline: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  -webkit-appearance: none !important;
  font-size: 10pt !important;
  line-height: 1 !important;
  padding: 0 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  text-align: start !important;
  right: 0 !important;
  background-color: #1b1d1e !important;
  outline-style: none !important;
  border: none !important;
  color: #bbb !important;
  height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
}

#command_search_results {
  position: fixed !important;
  min-height: 0 !important;
  background-repeat: none !important;
  background-position: none !important;
  border: none !important;
  border-radius: 0 !important;
  vertical-align: none !important;
  z-index: 9999999999 !important;
  background-color: #393E40 !important;
  color: #bbb !important;
  display: none;
  box-shadow: none !important;
  border: 0 !important;
  margin: 0 !important;
  font-family: monospace !important;
  font-size: 10pt !important;
  padding: 0 !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  text-align: start !important;
  box-shadow: none !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
  border: 0 !important;
  bottom: 20px !important;
  border: none !important;
  box-sizing: border-box !important;
  padding: 3px; !important;
  left: 0; right: 0;
  margin: 0 auto;
}

#command_search_results ul, #command_search_results .command-data-node {
  box-shadow: none !important;
  border: 0 !important;
  margin: 0 !important;
  font-size: 10pt !important;
  padding: 0 !important;
  font-family: monospace !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  text-align: start !important;
  box-shadow: none !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
  border: 0 !important;
  bottom: 20px !important;
  border: none !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

#command_search_results .command-data-node div {
  box-shadow: none !important;
  border: 0 !important;
  font-size: 10pt !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  font-family: monospace !important;
  font-size: 10pt !important;
  text-shadow: none !important;
  text-align: start !important;
  box-shadow: none !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
  border: 0 !important;
  padding: 2px !important;
}
