#link_main, .link_hint, #command_bar, #command_bar_mode, #command_input, #command_search_results, .completion-item, .completion-item .full, .completion-item .left, .completion-item .right, #cVim-hud {
  font-family: Helvetica, Helvetica Neue, Neue, Sans, Arial;
  font-size: 11pt !important;
  -webkit-font-smoothing: antialiased !important;
}
#link_main {
  position: absolute;
  pointer-events: none;
  width: 100%; left: 0;
  height: 100%; top: 0;
  z-index: 2147483647;
}
.link_hint {
  background: linear-gradient(to top, #262626 50%, #474747 100%);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 2px;
  color: #ccc;
  padding: 2px !important;
  font-size: 11pt !important;
  font-weight: 100 !important;
  display: inline-block !important;
  vertical-align: middle !important;
  text-align: center !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4) !important;
  position: absolute !important;
}
.link_hint_match {
  color: #666;
}
#command_bar {
  position: fixed !important;
  z-index: 2147483646 !important;
  background-color: #1b1d1e !important;
  color: #bbb !important;
  display: none;
  box-sizing: content-box !important;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
  left: 0 !important;
  width: 100% !important;
  height: 20px !important;
}

#command_bar_mode {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box !important;
  padding-left: 2px !important;
  height: 100% !important;
  width: 10px !important;
  padding-top: 2px !important;
  color: #888 !important;
}
#command_input {
  background-color: #1b1d1e !important;
  color: #bbb !important;
  height: 100% !important;
  right: 0 !important;
  top: 0 !important;
  width: calc(100% - 10px) !important;
  position: absolute !important;
}
#command_search_results {
  position: fixed;
  width: 100% !important;
  overflow: hidden;
  z-index: 2147483647 !important;
  left: 0;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
  background-color: #383838;
}
.completion-item, .completion-item .full, .completion-item .left, .completion-item .right {
  text-overflow: ellipsis;
  padding: 1px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

.completion-item {
  width: 100%; left: 0;
  color: #fff;
}
.completion-item .full {
}
.completion-item .left {
  color: #fff;
  width: 47%;
}
.completion-item .right {
  font-style: italic;
  color: #888;
  width: 47%;
}
#cVim-hud {
  background-color: rgba(28,28,28,0.9);
  position: fixed !important;
  transition: right 0.2s ease-out;
  z-index: 24724289;
}
#cVim-hud span {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #8f8f8f;
  font-size: 10pt;
}
