html, body {
  font-family: Helvetica, Helvetica Neue, Helvetica, Sans, Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 14pt;
  background-color: #333;
  overflow-x: auto;
  min-width: 800px;
}

* { box-sizing: inline-block; }

#container_main {
  position: absolute;
  width: 100%;
  height: 100%; top: 0;
  left: 0;
}

#container_title {
  height: 50px; top: 0;
  width: 100%; left: 0;
  text-align: center;
  /* padding-top: 5px; */
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  color: #eee;
  font-size: 24pt;
  background-color: #333;
}

td {
  padding: 0;
  margin: 0;
  position: relative;
}

tr:nth-child(odd) {
  background-color:#ccc;
}
tr:nth-child(odd) .options-left {
  background-color:#333;
}
tr:nth-child(even) .options-left {
  background-color:#2c2c2c;
}

tr .options-right {
  background-color: #444;
  border-bottom: 1px solid #ccc;
}

.options-left {
  width: 20%;
  top: 0;
  color: #eee;
  background-color: #333;
  text-align: center;
}

.options-right {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0 0;
}

#settings {
  position: absolute;
}

#edit_mode {
  font-size: 8pt;
  background-color: #eee;
  border: none;
  outline-style: none;
}

#cssSetting {
  position: absolute;
}


select {
  display: block;
  margin: 0 auto;
}

#mappings {
  width: 100%;
  max-width: 100%;
  height: 200px;
  resize: none;
  font-family: monospace;
  font-size: 10pt;
}

#save_container {
  float: right;
  line-height: 37px;
  margin-right: 15px;
  box-sizing: border-box;
  text-align: center;
  z-index: 999;
}

#save_button, #reset_button {
  width: 50px;
  font-size: 10pt;
  opacity: 0.8;
  margin-right: -8px;
  border: 1px solid #777;
  border-radius: 2px;
  height: 35px;
  background-color: #fff;
}

#save_button:hover, #reset_button:hover {
  opacity: 1;
}

a {
  color: #bbb;
  transition: color 0.3s;
}

a:hover {
  color: darkcyan;
}

#clearHistory, #gistSync {
  border: 1px solid #777;
  border-radius: 2px;
  margin: 5px;
  height: 25px;
  background-color: #fff;
  margin-left: 10px;
}

#gistSync {
  float: right;
}

#gistUrl {
  width: calc(100% - 65px);
  position: absolute;
}

input {
  width: 50px;
}

textarea, input {
  opacity: 0.8;
  color: #444;
  height: 100%;
  border: none;
  transition: opacity 0.5s;
  outline-style: none;
  padding: 0;
  padding-left: 2px;
  margin: 0;
  box-sizing: border-box;
}
textarea {
  display: block;
  box-sizing: border-box;
}

textarea:hover, input:hover, textarea:focus, input:focus {
  opacity: 1;
}

#version-number {
  color: #999;
}
